.container-detail {
    margin-left: 135px;
    margin-top: 80px;
}

.shopName-detail {
    font-size: 24px;
    margin-bottom: 12px;
    color: #0d3450;
    font-weight: bold;
}

.shopNum-contain-detail,
.shopTime-contain-detail {
    margin-left: 2px;
    margin-bottom: 5px;
}

.shopNum-detail,
.shopTime-detail {
    color: rgb(99, 99, 99);
    margin-left: 20px;
}